/* ForgotAndResetPassword.css */
.password-container{
    background: linear-gradient(45deg,#365946, #220371);
    width: 100vw;
    height: 100vh;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: linear-gradient(45deg, #3D1794, #13072E); 
    height: 15vh;
  }
  .form-section{
    height: 50vh;
    width: 50vw;
    margin-top: 15vh;
    margin-left: 25vw;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.319);
  }
  .navbar-logo {
    height: 40px; 
  }
  form{

    height: 40vh;
    width: 30vw;
    margin: auto;
    justify-content: center;
    text-align: center;
  }

  .navbar-input {
    padding: 5px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    width: 300px; 
  }
  
  .input-field {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    width: 100%; 
  }
  
  .submit-button {
    padding: 10px;
    background-color: #220371; 
    color: yellow;
    border-radius: 20%;
    cursor: pointer;
    padding: 20px;
  }
  
  .submit-button:hover {
    background-color: #0056b3; 
  }