
.admin-container {
    display: flex;
    height: 100vh;
    flex-direction: row;

  }
  
  .content-area {
    width: 80vw;
    padding: 20px;
    overflow: auto;
    background: linear-gradient(45deg,#365946, #220371);
  }