
.sidebar {
  width: 20vw;
  height: auto;
  background: linear-gradient(45deg,#498363, #2c0492e9);
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.nav-link {
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  color: yellow;
  transition: background 0.3s;
  background-color: #220371;
}

.nav-link:hover, .nav-link.active {
  background: #4a90e2;
}
